<nav class="navbar navbar-expand-lg navbar-light bg-light nav-style ml-5", data-turbo="false">

  <%= link_to "Stancade", root_path, class: 'navbar-brand', style: 'margin-left:16px;' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 16px;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Starfall", games_starfall_path, class: 'nav-link', remote: true%>
      </li>
      <li class="nav-item">
        <%= link_to "Faune", games_faune_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Bunny Jump", games_rabbit_jump_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "About", home_about_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>