<!DOCTYPE html>
<html>
  <head>
    <title>Stancade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="container">

    <%= yield %>
  </div>
  </body>
</html>
