<!DOCTYPE html>
<html>
  <head>
    <title>StanCade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
  </head>

  <body class="<%= controller_name%> <%= action_name %>%">
    <%= render 'layouts/navbar'%>
    <%= yield %>
  </body>
</html>
